body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}
#background-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}
